{% extends "base.html" %}
{% block title %}Holiday Homes{% endblock title %}

{% block content %}

	
<div class="container px-5 py-5 text-center">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h1 class="page-header-ui-title mb-3 display-6">Welcome to Holiday Homes Edited</h1>
        </div>
    </div>
</div>

<div class="container px-5 py-5 text-center">
    <div class="justify-content-center">
        <a class="btn fw-500 ms-lg-4 btn-primary px-10" href="{% url 'profiles_index' %}">
    		Profiles
        </a>
        <a class="btn fw-500 ms-lg-4 btn-primary px-10" href="{% url 'lettings_index' %}">
            Lettings
        </a>
    </div>
</div>

{% endblock %}